<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110372089695-nto3cais68a4bco5qv4dh8nijmnl1bi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110372089695-nto3cais68a4bco5qv4dh8nijmnl1bi3</string>
	<key>API_KEY</key>
	<string>AIzaSyDGcZ7rVWS-62gDfsL-_1ACyiA2vQrZOBM</string>
	<key>GCM_SENDER_ID</key>
	<string>110372089695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MAIDS.Health-Journal</string>
	<key>PROJECT_ID</key>
	<string>health-jou</string>
	<key>STORAGE_BUCKET</key>
	<string>health-jou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110372089695:ios:f27e57992e5eb9e78a10ea</string>
	<key>DATABASE_URL</key>
	<string>https://health-jou.firebaseio.com</string>
</dict>
</plist>